.root {
  @apply cursor-pointer inline-flex
  px-5 py-5 leading-6 transition ease-in-out duration-150
  shadow-sm text-center justify-center uppercase
  border border-transparent items-center text-sm font-semibold
  tracking-wide;
  max-height: 64px;
  border-radius: 5px;
  position: relative;
  background-color: black;
}

.root:hover {
  border: 1px solid var(--bg-primary);
}
.root:focus-visible{
  /* border: 3px solid var(--accent-0); */
  background-color: var(--accent-0);
  color: var(--accent-9);
}


.root[data-active] {
  @apply bg-accent-6;
}

.loading span{
  color: transparent;
}
.root.loading{
  filter: grayscale(50%);
}
.loading::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 5px solid transparent;
  border-top-color: #fff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}
@keyframes button-loading-spinner {
  from {
      transform: rotate(0turn);
  }

  to {
      transform: rotate(1turn);
  }
}


.slim {
  @apply py-2 transform-none normal-case;
}

.ghost {
  @apply border border-accent-2 bg-accent-0 text-accent-9 text-sm;
}

.ghost:hover {
  @apply border-accent-9 bg-accent-9 text-accent-0;
}

.naked {
  @apply bg-transparent font-semibold border-none shadow-none outline-none py-0 px-0;
}

.naked:hover,
.naked:focus {
  @apply bg-transparent border-none;
}

.disabled,
.disabled:hover {
  @apply text-accent-4 border-accent-2 cursor-not-allowed;
  background-color: gray !important;
  color: white;
  filter: grayscale(1);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

