.button{
 margin: 0 .5rem;
 background-color: var(--text-primary);
 color: var(--text-third);
 font-weight: bold; 
}
.skip{
  background: var(--bg-primary);
  color: var(--text-secondary);
  font-weight: 700;
  left: 0;
  padding: 5px;
  position: absolute;
  transform: translateY(-101%);
  transition: transform 0.3s;
  z-index: 99999;
}
.skip:focus{
  transform: translateY(0%) ;
}