.container {
  max-width: 1600px;
  padding-left: 3.54167vw;
  padding-right: 3.54167vw;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .container {
    padding-left: 9.6vw;
    padding-right: 9.6vw;
  }
}
