.postsRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
  border-bottom: 1px solid #e1e1e1;
}
@media (max-width: 767px){
  .postsRow{
    grid-template-columns: 1fr;
    row-gap: 4rem;
    padding-bottom: 0;
    border-bottom: 0;
  }
}