.root {
  @apply text-center p-6 bg-primary text-sm flex-row
  justify-center items-center fixed bottom-0
  w-full z-30 transition-all duration-300 ease-out
  md:flex md:text-left font-bold;
  color: var(--text-secondary);
  background-color: var(--bg-primary);

}
